@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@import "~primevue/resources/primevue.min.css";
@import "~primevue/resources/themes/saga-blue/theme.css";
@import "~primeflex/primeflex.css";
@import "~primeicons/primeicons.css";

@import "~@fortawesome/fontawesome-free/css/all.min.css";


.p-image-toolbar {
  z-index: 9;
}