<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mbut skeleton{% endblock %}</title>
        <meta name="viewport" content="width=524, user-scalable=no" />
    </head>
    <body>
        <div class="main-container gradient">
            {% block body %}{% endblock %}
        </div>
</html>